@model TechPro.Models.ProductsViewModel
@{
    Layout = "_Layout";
}

<div class="productBody">
    <h1>Our Products</h1>
    <div class="networks">
        <h3>Networks</h3>
        @if (@Model?.NetworkProducts != null && @Model.NetworkProducts.Any())
        {
            @foreach (var network in @Model.NetworkProducts)
            {
                <div class="figures">
                    @if (network.ProductName == "Small Network")
                    {
                        <figure>
                            <p>@network.ProductName</p>
                            <img src="~/images/product2.png" alt="small network" class="homeImg">
                            <figcaption>We offer a small network that is ideal for small companies</figcaption>
                            <form method="post" asp-action="CartAction" asp-controller="Product">
                                <input type="hidden" name="productId" value="@network.ProductId" />
                                <button type="submit" class="btn btn-primary">Add to cart</button>
                            </form>
                        </figure>
                    }
                    else if (network.ProductName == "Large Network")
                    {
                        <figure>
                            <p>@network.ProductName</p>
                            <img src="~/images/product1.png" alt="large network" class="homeImg"/>
                            <figcaption>We offer a large network that is ideal for large companies</figcaption>
                            <form method="post" asp-action="CartAction" asp-controller="Product">
                                <input type="hidden" name="productId" value="@network.ProductId" />
                                <button type="submit" class="btn btn-primary">Add to cart</button>
                            </form>
                        </figure>
                    }
                </div>
            }
        }
        else
        {
            <h3>No networks to display</h3>
        }
    </div>
    <div class="equipment">
        <h3>Equipment</h3>
        <p>All products are included in the network packages.</p>
        <div class="figures">
            <figure>
                <img src="~/images/routerProduct.jpeg" alt="small network" class="homeImg">
                <figcaption>We sell Routers.</figcaption>
            </figure>
            <figure>
                <img src="~/images/switchProduct.png" alt="large network" class="homeImg"/>
                <figcaption>We sell 48 port switches.</figcaption>
            </figure>
            <figure>
                <img src="~/images/switch24Product.jpg" alt="large network" class="homeImg"/>
                <figcaption>We also sell 24 port switches.</figcaption>
            </figure>
            <figure>
                <img src="~/images/apProduct.jpg" alt="large network" class="homeImg"/>
                <figcaption>Access points are also for sale.</figcaption>
            </figure>
            <figure>
                <img src="~/images/cablingProduct.jpg" alt="large network" class="homeImg"/>
                <figcaption>Cabling is for sale.</figcaption>
            </figure>
            <figure>
                <img src="~/images/rackProduct.webp" alt="large network" class="homeImg"/>
                <figcaption>Racks are for sale.</figcaption>
            </figure>
        </div>
    </div>
</div>